<div class="flex items-center justify-center rounded-lg bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-100">
      <h2 class="text-2xl font-bold text-center mb-6">Register</h2>
      <form (ngSubmit)="onRegister()" class="space-y-6">
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
          <input
            id="username"
            type="text"
            [(ngModel)]="username"
            name="username"
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter your username"
            required
          />
        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input
            id="email"
            type="email"
            [(ngModel)]="email"
            name="email"
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter your email"
            required
          />
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input
            id="password"
            type="password"
            [(ngModel)]="password"
            name="password"
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter your password"
            required
          />
        </div>
        <button
          type="submit"
          class="w-full bg-gray-500 text-white py-2 rounded-md hover:bg-gray-400 transition cursor-pointer"
        >
          Register
        </button>
      </form>
      <p class="mt-2 text-center text-sm text-gray-600">
        Already have an account? <a routerLink="/login" class="text-gray-500 hover:underline cursor-pointer">Login</a>
      </p>
    </div>
  </div>
